body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

input, select, button {
    padding: 8px;
    margin: 5px;
}

button {
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 90%;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background: #1e293b;
}

.stats {
    margin: 20px;
}
