body {
    font-family: 'Segoe UI';
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 15px;
}

.progress-bar {
    width: 80%;
    height: 10px;
    background: #333;
    margin: auto;
    border-radius: 10px;
}

#progressFill {
    height: 100%;
    width: 0%;
    background: #22c55e;
    border-radius: 10px;
}

input, select {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background: #22c55e;
    color: white;
    cursor: pointer;
}

table {
    margin: auto;
    width: 95%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
}

tr {
    background: rgba(255,255,255,0.05);
}

.low { color: #22c55e; }
.medium { color: #facc15; }
.high { color: #ef4444; }
